body {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: row;
	padding: 0px;
	margin: 0px;
	height: 100vh;
}

#sidebar {
	background-color: #b71c1c;
	display: flex;
	flex-direction: column;
	width: 250px;
	padding: 0px;
	margin: 0px;
}

#logo {
	width: 200px;
	margin: 25px;
	padding: 0px;
}

.tab {
	padding: 12px 25px;
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

.tab:hover {
	background-color: #8c1515;
}

.active_tab {
	background-color: #8c1515;
}

.spacer {
	flex: 1;
}

#gestures {
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	padding: 25px;
	margin: 0px;
	flex: 1;
}

.heading {
	padding: 0px;
	margin: 25px;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

.selectbar {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #000000;
}

.selectobj {
	padding: 12px 25px;
	margin: 0px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	color: inherit;
	flex: 1;
	max-width: 150px;
}

.inactive_select {
	color: #b5b5b5;
}

.selectobj:hover {
	background-color: #d0d0d0;
}

.grid {
	display: flex;
	flex-direction: row;
	flex: 1;
	font-color: #000000;
}

.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-width: 200px;
	font-color: inherit;
}

.gridobj {
	padding: 12px 25px;
	margin: 0px;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	font-color: inherit;
	max-width: 150px;
}

.gridobj:hover {
	background-color: #d0d0d0;
}

#bottom {
	display: flex;
	justify-content: flex-end;
}

.button {
	padding: 10px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	margin: 15px;
	font-size: 18px;
	font-weight: bold;
}

.button:hover {
	background-color: #d0d0d0;
	cursor: pointer;
}